/* Banner */

.banner {
    background-color: $secondary-bg-color;
}

.banner__body {
    width: 80vw;
    padding: 2rem 0 3rem;
    margin: auto;    
    & p {
        margin-bottom: 2rem;
        text-align: center;
        opacity: 0.7;
    }    
}

/* Functioning */

.container {
    padding: 3.5rem 1.2rem;
}

.functioning h2 {
    margin-bottom: 2rem;
}

.functioning__item {
    display: flex;
    gap: 1.2rem;
    align-items: center;
    height: 4.5rem;
    margin-left: 0.5rem;
    margin-bottom: 1.2rem;
    
    background-color: $secondary-bg-color;
    border-radius: 20px;
    & i {
        width: 20px;
        text-align: center;
    }
    & span {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: -0.5rem;
        width: 1.5rem;
        height: 1.5rem;
        background-color: $primary-color;
        border-radius: 50%;        
        color: $primary-bg-color;
    }
    & .fa-grey {
        font-size: 1.2rem;
        opacity: 0.5;
    }
    & p {
        font-weight: 500;
    }
    &--purple {
        background: rgba($primary-color, 0.1)        
    }
    & .fa-purple {
        color: $primary-color;
    }
}

/* Restaurant */

.restaurant h2 {
    margin-bottom: 1.5rem;
}
