.loader__page {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: $primary-bg-color;
  animation: loader-page 3s forwards;
  z-index: 2;
  opacity: 0.9;
}

.loader {
  position: fixed;
  left: calc(50vw - 10vmin);
  top: calc(50vh - 10vmin);
  width: 20vmin;
  height: 20vmin;
  border-radius: 50%;
  border: solid 2vmin transparent;
  border-right-color: $primary-color;
  border-top-color: $primary-color;
  animation: spin 1s forwards;

  &::before {
    content: "";
    width: 16vmin;
    height: 16vmin;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 50%;
    border: solid 2vmin transparent;
    border-right-color: $secondary-color;
    border-top-color: $secondary-color;
    animation: spin 2s forwards;
  }

  &::after {
    content: "";
    width: 12vmin;
    height: 12vmin;
    position: absolute;
    left: 2vmin;
    top: 2vmin;
    border-radius: 50%;
    border: solid 2vmin transparent;
    border-right-color: $tertiary-color;
    border-top-color: $tertiary-color;
    animation: spin 3s forwards;
  }
}

@keyframes loader-page {
  0% {
    visibility: visible;
  }
  100% {
    visibility: hidden;
  }
}

@keyframes spin {
  0% {
    visibility: visible;    
  }
  100% {
    visibility: hidden;
    transform: rotate(360deg);
  }
}