/* Banner */

.banner {
    background-color: $secondary-bg-color;
}

.banner__body {
    width: 80vw;
    padding: 2rem 0 3rem;
    margin: auto;    
    & p {
        margin-bottom: 2rem;
        text-align: center;
        opacity: 0.7;
    }    
}

/* Functioning */

.functioning {
    & h2 {
        margin-bottom: 2rem;
    }
    & ol {
        margin-left: 0.5rem;
        counter-reset: step; /* initialize and name the counter */
    }
    & li {
        position: relative;
        display: flex;
        gap: 1.2rem;
        align-items: center;
        height: 4.5rem;
        margin-bottom: 1.5rem;
        border-radius: 20px;
        background-color: $secondary-bg-color;
        box-shadow: 0 10px 15px 0 $shadow-color;
        font-weight: 500;
        list-style-type: none;
        counter-increment: step; /* incremente the counter with each new li */

        &::before {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: -0.5rem;
        width: 1.5rem;
        height: 1.5rem;        
        border-radius: 50%;
        background-color: $primary-color;
        color: $primary-bg-color;
        content: counter(step); /* display the counter */
        }

        &::after {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background-color: $primary-color;
            border-radius: 20px;
            opacity: 0;
        }

        &:hover {
            &::after {
                opacity: 0.1;
            }
            & i {
                color: $primary-color;
                opacity: 1;
            }
        }        
    }
    & i {
        font-size: 1.2rem;
        opacity: 0.5;
    }
}

/* Restaurant */

.restaurant {
    background-color: $secondary-bg-color;
    & h2 {
        margin-bottom: 1.5rem;
    }
    & img {
        width: 375px;
        height: 175px;
        border-radius: 20px 20px 0 0;
    }
    & p {
        font-weight: 300;
    }    
}

.restaurant__card {
    position: relative;    
    & span {
        position: absolute;
        top: 5%;
        right: 5%;
        padding: 2% 3%;
        background-color: $tertiary-color;
        font-size: 0.9rem;
        font-weight: 500;
        color: $secondary-text-color;
    }
    & img {
        width: 100%;
    }
}

.card__body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1rem;
    line-height: 1.5rem;
}
