body {
    position: relative;
}

.menu {
    & img {
        position: relative;
        z-index: -1;
    }
    &__section {
        margin-top: -50px;
        padding: 2rem 1.2rem 1rem;
        background-color: $secondary-bg-color;
        border-radius: 50px 50px 0 0;        
        & h1 {
            margin: 0 0 2rem 0;
            font-family: Shrikhand, sans-serif;        
        }
    }
    &__title {
        display: flex;
        gap: 18%;
        align-items: flex-start; 
    }
    & h2 {
        position: relative;
        margin-bottom: 1.3rem;
        text-transform: uppercase;
        font-size: 1.1rem;
        font-weight: 400;
        opacity: 0.7;        
        &::after {
            content: "";
            position: absolute;
            bottom: -0.4rem;
            left: 0;
            width: 3rem;
            border-bottom: 0.2rem solid $tertiary-color;
        }
    }
    & h3 {
        font-size: 1.1rem;
        font-weight: 500;        
    }
    & p {
        width: 70vw;
        font-size: 0.9rem;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;        
    }

    &__item {
        margin-bottom: 2.5rem;
    }
}

.menu__card {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;    
    padding: 0.8rem;
    margin-bottom: 1rem;
    border-radius: 1rem;
    background-color: $primary-bg-color;
    line-height: 1.5rem;
    overflow: hidden;    
    & span {
        font-weight: bold;
        padding-left: 0.5rem;
        transition: transform 1s;
        z-index: 1;
        overflow: hidden;
    }
    &:hover {
        & .menu__check, span {
            transform: translateX(-3.5rem);            
            opacity: 1;
        }       
    }
    &:nth-child(2) {
        animation: gradual-appearance 1s;
    }
    &:nth-child(3) {
        animation: gradual-appearance 2s;
    }
    &:nth-child(4) {
        animation: gradual-appearance 3s;
    }
}


.menu__check {
    position: absolute;
    top: 0;
    right: -3.5rem;
    bottom: 0;
    width: 3.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 1rem 1rem 0;
    background-color: $tertiary-color;
    transition: transform 1s;  
    & i {
        padding: 0.2rem;
        border-radius: 50%;
        background-color: $primary-bg-color;
        color: $tertiary-color;
    }
}

.btn-command {
    margin-top: 3rem;
}


@keyframes gradual-appearance {
    0% {
        transform: translateY(20%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}





    


