// Background color
// From lightest to darkest
$primary-bg-color: #FFFFFF; //white
$secondary-bg-color:#F6F6F6; //light grey
$tertiary-bg-color: #EAEAEA; //dark grey
$quaternary-bg-color: #353535; //black

// Shadow
$shadow-color: #D9D9D9;
$shadow-color-hover: #9b9898;

// Text Color
$primary-text-color: #000000; //dark
$secondary-text-color: #008766; //green

// Other color
$primary-color: #9356DC; //purple
$secondary-color: #FF79DA; //pink
$tertiary-color: #99E2D0; //green


